<nav class="navbar bg-dark navbar-expand-lg " data-bs-theme="dark">
  <div class="container-fluid d-flex">

    <img class="logo" src="../../../../assets/imgs/logo.svg" alt="logo">

    <ul class="navbar-nav d-flex mr-5">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            Olá, Fulano de tal
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
    </ul>

  </div>
</nav>

